SUPABASE_URL=https://iyuzdvioufyaoncyyqhq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5dXpkdmlvdWZ5YW9uY3l5cWhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2OTExNzIsImV4cCI6MjA5MjI2NzE3Mn0.f7dpD0gEzxbIXRyXKPAQERID1r-Ug8-n1c6wjQqfv24
CODEXNOMAD_BACKEND_URL=http://10.0.2.2:8080
CODEXNOMAD_APP_TOKEN=local-dev-app-token-if-used
